@{
    ViewBag.Title = "Home Page";
}

@model Test.Models.ValoresNotas

<head>
    <style>
        table {
            border-collapse: inherit;
            border: 2px solid black;
            padding: 2px;
        }
        th {
            background-color: black;
            color: white;
            width:150px;
            text-align:center;
        }
    </style>
    <script type="text/javascript">
        $('#Depositar').click(function () {
            //logica do POST para salvar o valor do deposito
            var url = "/Home/Index";
            var 
        })
    </script>
    <script type="text/javascript">
        $('#Sacar').click(function () {
            //logica do POST para salval o valor do saque
        })
    </script>
</head>
<body>
    <div class="header">
        <h2>Caixa Eletrônico</h2>
    </div>
    <div>
        <br>
        <h4>Deposito</h4>
    </div>
    <form method="POST" runat="server">
        <div>
            <label for="ValorDeposita">Deposite o valor:</label>
            <input type="text" name="ValorDeposita" value="" placeholder="Insira aqui"/>
            <input type="submit" value="Depositar" id="Depositar"/>
        </div>
    </form>
    <script>
        $(document).ready(function{
            $('#ValorDeposita').click(function () {
                $.ajax({
                    url: '@Url.Action("DepositaValor")',
                    data: { value: $("#ValorDeposita").val() },
                    sucess: function (r) {
                        console.log("testando");
                        $("nota100").html(r.nota100)
                        $("nota50").html(r.nota50)
                        $("nota20").html(r.nota20)
                        $("nota10").html(r.nota10)
                        $("nota5").html(r.nota5)
                        $("nota2").html(r.nota2)
                    }
                })
            })
        })
    </script>
    <div>
        <p>Saldo total: <strong>@Html.DisplayFor(modelItem => Model.SaldoFinal)</strong></p>
    </div>
    <div>
        <br>
        <h4>Saque</h4>
    </div>
    <form method="POST" runat="server">
        <div>
            <label for="ValorSaque">Valor a ser sacado:</label>
            <input type="text" name="ValorSaque" value="" placeholder="Insira aqui" />
            <input type="submit" value="Sacar" id="Sacar"/>
        </div>
    </form>
    <div>
        <h3>Notas</h3>
        <table>
            <tr>
                <th>Valor Notas</th>
                <th>Quantidade</th>
            </tr>
            <tr>
                <td>Nota de 100</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => Model.N100)</td>
            </tr>
            <tr>
                <td>Nota de 50</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => Model.N50)</td>
            </tr>
            <tr>
                <td>Nota de 20</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => Model.N20)</td>
            </tr>
            <tr>
                <td>Nota de 10</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => Model.N10)</td>
            </tr>
            <tr>
                <td>Nota de 5</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => Model.N5)</td>
            </tr>
            <tr>
                <td>Nota de 2</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => Model.N2)</td>
            </tr>
        </table>
        <div>
            <br>
            <strong>@Html.DisplayFor(modelItem => Model.Valid)</strong> <!--Somente sinalizar se saque for inválido-->
        </div>
    </div>

</body>
